.container{
  width: 100%;
  height: auto;
  background: blue;
  /*background: url('assets/media/fotos/fondo.png') center;*/
  position: fixed;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}



.box{
  width: 25%;
  height: 270px;
  margin: 0px 0px 0px 0px;
  box-sizing: border-box;
  float:left;
  /*background: url('assets/media/fotos/fondo.png') ;*/
}
.img{
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}
.text{
  margin-top: -20px;
  text-align: center;
  font-size: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
